/* font */
@font-face {
  font-family: 'Reactor7';
  src: url('./assets/fonts/Reactor7/Reactor7.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* variables */
:root {
  --default-background-color: #000;
  --default-font-color: #DDD;
  --link-hover-color: #fbf236;
  --main-font-family: 'Reactor7', sans-serif;
}

/* normalize */
html,
body {
  background-color: var(--default-background-color);
  color: var(--default-font-color);
  color: #DDD;
  margin: 0;
  padding: 0;
}

a {
  color: var(--default-font-color);
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  border-style: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

img {
  width: 128px;
}

/* styles */
#container {
  height: calc(100vh - 20px);
  font-family: var(--main-font-family);
  font-weight: 400;
  font-style: normal;
  margin: auto;
  padding: 10px;
  width: 60%;
    max-width: 640px;
}

#container #links {
  font-size: 14px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #container {
    width: calc(100% - 20px);
  }
}
