@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --bg-img: url(./taylor-van-riper-yQorCngxzwI-unsplash.jpg);
  --light-blue: rgb(177, 217, 233);
  --sky-blue: skyblue;
  --off-white: rgb(236, 240, 241);
}

@font-face {
  font-family: "OPTILatin Elongated";
  src: url(./OPTILatin-Elongated.otf);
}

@font-face {
  font-family: "Korataki Regular";
  src: url(./Korataki\ Regular.ttf);
}

html,
body {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#container {
  background: url(./2.png) no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#app {
  background-color: var(--off-white);
  color: var(--light-blue);
  /* height: 300px; */
  min-height: 300px;
  width: 60%;
  max-width: 640px;
}

#app-inner {
  background-size: cover;
  display: flex;
    flex-direction: column;
    justify-content: center;
  /* height: calc(100% - 20px); */
  margin: 10px;
  /* position: relative; */
  width: calc(100% - 20px);
}

#headline {
  color: black;
  font-family: "Korataki Regular", sans-serif;
  font-size: 14px;
  padding: 5px;
}

#content {
  color: #444;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 5px;
}

#content a {
  color: #444;
  border-bottom: 1px solid var(--sky-blue);
  text-decoration: none;
}

#content a:hover {
  color: var(--sky-blue);
}

#footer {
  background-color: var(--off-white);
  text-align: right;
  height: 15px;
  padding-top: 5px;
  /* position: absolute;
    bottom: 0; */
  width: 100%;
}

#footer a {
  font-size: 14px;
  color: black;
  padding-left: 3px;
}

#footer a:hover {
  color: var(--light-blue);
}
